<div style="background-color: #1976D2;width: 100%; height: 50px;">
  <ul>
    <li style="display:inline;"><a (click)="hide()" routerLink="/tutorial2" routerLinkActive="active" style="padding: 10px;color: aliceblue;line-height:45px;text-decoration:none;">Tutorial 2</a></li>
    <li style="display:inline;"><a (click)="hide()" routerLink="/tutorial3" routerLinkActive="active" style="text-align:right; padding: 10px; color: aliceblue;text-decoration:none;">Tutorial 3</a></li>
    <li style="display:inline;"><a (click)="hide()" routerLink="/tutorial4" routerLinkActive="active" style="text-align:right; padding: 10px; color: aliceblue;text-decoration:none;">Tutorial 4</a></li>
    <li style="display:inline;"><a (click)="show()" routerLink="/" routerLinkActive="active" style="text-align:right; padding: 10px; color: aliceblue;text-decoration:none;">Exit</a></li>
  </ul>
</div>
<div *ngIf="general">
  <p style="font-weight:700;"> All tutorials for CSCI5709 S21 are listed here. </p>
</div>
<router-outlet></router-outlet>
