<div style="padding: 0 16px;margin: 82px 30% 32px;width: 36vw;" role="main">

  <!-- Highlight Card -->
  <div style="background-color: #1976D2;width: 32vw;margin: 15px;border-radius: 4px;text-align: center;font-weight: 700;padding: 15px; color: aliceblue;">
    <span>{{ title }}: the application is running!</span>

  </div>

  <div style="background-color: #B4BCAF;width: 32vw;margin: 15px;border-radius: 4px;text-align: center;font-weight: 700;padding: 15px;">
    <span style="font-size: large;">
      Group Members
    </span>
    <br />
    <span style="">
      Mohammed Hamza Jasnak
    </span>
    <br />
    <span style="">
      Gurleen Kaur Saluja
    </span>
    <br />
    <span style="">
      Mansi Singh
    </span>
    <br />
    <span style="">
      Misbah Pathan
    </span>
    <br />
    <span style="">
      Divyansh Vyas
    </span>


  </div>

</div>

<router-outlet></router-outlet>